{% extends 'main_body/base.html' %}

{% block content %}
<div class="content-center">
    <div class="form-container">
        <div class="form-title"><h1>Personal info</h1></div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <label class="form-label">{{ form.nickname.label }}:</label> {{ form.nickname }}
            <label class="form-label">{{ form.bio.label }}:</label> {{ form.bio }}

            <label class="form-label">{{ form.location.label }}: </label>{{ form.location }} <br>
            <label class="form-label">{{ form.birth_date.label }}: </label>{{ form.birth_date }}<br>

            <label class="form-label">{{ form.photo.label }} (max size: 5Mb):</label><br> {{ form.photo }}

            {% if form.errors %}
               {% for field in form %}
                   {% for error in field.errors %}
                      <div class="alert-error">
                           <strong> {{ field.name }} error: {{ error|escape }}</strong>
                      </div>
                   {% endfor %}
               {% endfor %}
            {% endif %}
            <div class="submit">
                <button class="b-action" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
