{% extends 'main_body/base.html' %}

{% block content %}
<div class="content-center">
    <div class="form-container">
        <div class="form-title"><h1>Reset your password</h1></div>
    {% if validlink %}
    <p> Please enter your new password twice: </p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="b-action" type="submit">Change my password</button>
    </form>
    {% else %}
    <p> The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset. </p>
    {% endif %}
</div>
</div>
{% endblock %}
