{% extends 'main_body/base.html' %}

{% block content %}
{% load common_tags %}
{% load static %}
<script src="{% static 'main_body/js/select.js' %} "></script>

<section class="blog-action">
    {% if request.user.is_authenticated %}
    <button class="b-action"><a href="{% url 'new_post' %}">New post</a></button>
    <button class="b-action"><a href="{% url 'selected_blog' user.profile.nickname user.pk %}">My blog</a></button>
    <button class="b-action">
        <details class="user-info">
            <summary>Following</summary>
            {% for sub in user.profile.favorites.all %}
                <a href="{% url 'selected_blog' sub.nickname sub.user_id %}">{{ sub }}</a>
                <br>
            {% endfor %}
        </details>
    </button>
    {% endif %}
    {% get_users user %}
</section>

<div class="blog-content">
    {% show_posts %}
</div>

{% endblock %}
